<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Ositel sf3 test">
    <meta name="author" content="Mokhtar OUNIS">
    <title>{% block title %}Ositel sf3 test{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
</head>
<body>
{% set current_path = app.request.get('_route') %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('homepage') }}">Ositel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{{ current_path in ['homepage']?'active':'' }}"><a href="{{ url('homepage') }}">Home</a></li>
                <li class="{{ current_path in ['transactions', 'transaction_new', 'transactions_edit', 'transactions_show']?'active':'' }}"><a href="{{ url('transactions') }}">Ecran 1</a></li>
                <li class="{{ current_path in ['transactions_stats']?'active':'' }}"><a href="{{ url('transactions_stats') }}">Ecran 2</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<main role="main" class="container">

    {% block body %}{% endblock %}

</main><!-- /.container -->
<script src="{{ asset('js/jquery-3.3.1.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
